
<div class="banner" style="background-image: url(<%= image_url 'background.jpeg' %>)">
  <div class="banner-content">
    <h1>Roaddy</h1>
    <p>Inspired people for inspiring trips</p>
    <form action="" class="navbar-wagon-search">
      <input type="text" class="navbar-wagon-search-input" placeholder="Destination">
      <button type="submit" class="navbar-wagon-search-btn">
        <i class="fa fa-search"></i>
      </button>
    </form>
  </div>
</div>
