.step {
  border-radius: 5px;
  padding: 5px;
  margin: 5px 0;
  display: flex;
  flex: 1;
  border-bottom: 1px solid #EEE;
  &.step-form {
    display: block;
    padding: 0px 15px 10px;
    background: #EEE;
    margin-top: 50px;
  }
  .step-position {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 30px;
    margin-right: 5px;
    color: #CCC;
  }
  .step-content {
    flex: 1;
  }
  .step-actions {
    color: #CCC;
  }
}

.step-wrapper {
  display: flex;
  position: relative;
  .step-waypoint {
    width: 20px;
    position: relative;
    &:after {
      border-left: 1px solid #CCC;
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 5px;
    }
    &:before {
      content: "";
      position: absolute;
      width: 11px;
      height: 11px;
      border-radius: 50%;
      background: #CCC;
      top: 50%;
      margin-top: -3px;
    }
  }
  .step-add {
    &:after {
      bottom: 50%;
    }
    &:before {
      content: "+";
      font-weight: bold;
      line-height: 18px;
      text-align: center;
      position: absolute;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      border: 2px solid #CCC;
      background: white;
      color: #BBB;
      font-size: 21px;
      left: -6px;
      margin-top: 0;
    }
  }
  &:first-child {
    .step-waypoint:after {
      top: 50%;
    }
  }
  &:last-child {
    .step {
      border-bottom: none;
    }
    .step-waypoint:after {
      bottom: 50%;
    }
  }
}
.step-show {
  .step {
    padding: 30px 0;
  }
}

.step-edit {
  .step-wrapper:last-child {
    .step-waypoint:after {
        bottom: 0;
    }
  }
}

.step-show hr {
  display: none;
}

.step-distance {
  color: #CCC;
  font-weight: 300;
  position: absolute;
  right: 0;
  left: 0;
  text-align: center;
  bottom: -15px;
  span {
    background: white;
    padding: 20px
  }
}